/* header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bg_img/header_bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: var(--dark-bg);
  color: var(--white);
  min-height: 695px;
  padding: 40px 0;
}

.header__wrapper {
  padding: 0 15px;
  max-width: 660px;
  text-align: center;
}

.header__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.header__title strong {
  font-size: 60px;
  font-weight: 700;
}

.header__title em {
  font-style: normal;
  color: var(--accent);
}

.header__text {
  font-size: 18px;
  line-height: 1.333;
  margin-bottom: 40px;
}

.header__text p {
  margin-top: 0.5em;
}

@media (max-width: 620px) {
  .header {
    /* отменяем правило min-height */
    min-height: unset;
  }

  .header__wrapper {
    margin: 0 auto;
  }
  .header__title {
    font-size: 38px;
  }

  .header__title strong {
    font-size: 40px;
  }
}

@media (max-width: 460px) {
  .header__title {
    font-size: 24px;
  }

  .header__title strong {
    font-size: 26px;
  }
}

