.section {
  padding: 70px 0;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

.title-1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--accent);
  text-align: center;
  margin-bottom: 60px;
}

.title-2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  color: var(--accent);
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

}


.project {
  max-width: 370px;
  background-color: var(--project-card-bg);
  box-shadow: var(--box-shadow);
  border-radius: 10px;

}

.project__img {
  border-radius: 10px;
}

.project__title {
  padding: 15px 20px 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: var(--project-card-text);
}

/* project details */

.project__details {
  max-width: 865px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project__details-cover {
  max-width: 100%;
  margin-bottom: 40px;
  box-shadow: 0px 5px 36px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

}

.project__details-desc {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 30px;
}

/* Content list*/

.content__list {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 40px;
  margin: 0 auto;
}

.content__list a {
  color: var(--accent);
}

.content__list-item {
  font-size: 18px;
  line-height: 1.5;
}

.content__list-item p + p{
  margin-top: 0.5em;
  font-size: 18px;
}

/* media */

@media (max-width: 620px) {
  .section{
    padding: 40px 0;
  }

  .title-1 {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .title-2 {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .project__title {
    font-size: 22px;
  }

  .project__details-desc {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .content__list {
    row-gap: 20px;
  }

  .content__list-item {
    font-size: 16px;
  }
}