@import './reset.css';
@import './header.css';
@import './projects.css';
@import './footer.css';
@import './btn.css';
@import './contacts.css';
@import './vars.css';


@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,700);


/* styles */

html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: 'DM Sans', sans-serif;
  letter-spacing: -0.5px;

  /* color: var(--black); */

  /* light mode */
  background-color: var(--page-bg);
  color: var(--text-color);

  --project-card-bg: var(--black);
  --project-card-text: var(--white);


}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

/* nav */
.nav {
  background-color: var(--dark-bg);
  color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid var(--black-border);
  letter-spacing: normal;
}



.nav__row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 40px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  column-gap: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins',  sans-serif;
}

.nav__list-link {
  color: var(--white);
  transition: opacity 0.2s ease-in;
}

.nav__list-link:hover {
  opacity: 0.5;
}

.nav__list-link--active {
  position: relative;
}

.nav__list-link--active::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background-color: var(--accent);
}


.logo {
  color: var(--white);
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  margin-right: auto;
}

.logo strong {
  font-weight: 700;
}


/* media */

@media (max-width: 460px) {
  .nav__row {
    justify-content: space-between;
  }

}

